@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Trade+Winds&family=Work+Sans:ital,wght@0,200;0,300;1,300&display=swap");
:root {
  --p-bg:#ffffff;
  --s-bg: #142c50;
  --p-c: #000000;
  --s-c: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--s-bg);
}

.logo {
  font-family: 'Trade Winds', cursive;
  color: #000000;
  padding: 5px 10px;
  width: 80px;
  margin-left: 10px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link li {
  margin: 5px 20px;
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.nav-link li a {
  text-decoration: none;
  color: inherit;
}

.nav-link li::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-box-shadow: 0px -2px 15px #fff;
          box-shadow: 0px -2px 15px #fff;
}

.nav-link li:hover::after {
  content: '';
  width: 70%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  display: flex;
  width: 100%;
  min-height: 100vh;
  scrollbar-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page::-webkit-scrollbar {
  display: none;
}

.landing-section {
  min-width: 100%;
  min-height: 100vh;
  background: var(--s-bg);
  color: var(--s-c);
  position: relative;
  -webkit-animation: fadeIn 1000ms;
          animation: fadeIn 1000ms;
}

.welcome-div {
  font-family: 'Trade Winds', cursive;
  margin-top: 100px;
  font-size: 30px;
  margin-left: 10vw;
  color: #2B3547;
}

.welcome-div .welcome-note h1, .welcome-div .welcome-note p {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.welcome-div .welcome-note .hi {
  font-size: 30px;
  font-family: 'Spectral SC',serif;
  color: #fff;
}

.welcome-div .welcome-note .name {
  letter-spacing: .12em;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  font-size: 70px;
  background: url("../assets/icons/back.png");
  background-position: 0 0;
  background-clip: text;
  -webkit-animation: back 20s linear infinite;
          animation: back 20s linear infinite;
}

.welcome-div .welcome-note .sc {
  font-family: 'Spectral SC',serif;
  color: #fff;
}

@-webkit-keyframes back {
  100% {
    background-position: 2000px 0px;
  }
}

@keyframes back {
  100% {
    background-position: 2000px 0px;
  }
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-box_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-box_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-box_around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ws {
  font-family: 'Work Sans', sans-serif;
}

.link-btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  border: none;
  background: transparent;
  color: #2B3547;
  padding: 5px 10px;
  font-size: 23px;
  cursor: pointer;
}

.cv-btn {
  padding: 12px 25px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 40px;
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  border: 1px solid white;
  -webkit-animation: shadow-drop-2-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cv-div {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.profile-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.skill-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 100;
  border-bottom: 5px solid #ffffff;
}

.skill-animation .bar {
  width: 20px;
  background: #ffffff;
  margin: auto;
  -webkit-box-shadow: 0px 0px 2px 1px #ffffff;
          box-shadow: 0px 0px 2px 1px #ffffff;
}

.skill-animation img {
  width: 50px;
  height: 50px;
}

.skill-card {
  width: 300px;
  height: 225px;
  border-radius: 7px;
  padding-top: 15px;
  margin: 10px;
  -webkit-animation: fadeInLeft 2s;
          animation: fadeInLeft 2s;
}

.skill-img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-img_container img {
  width: 100px;
  height: 100px;
  -webkit-animation: linear circularRotation 2s infinite;
          animation: linear circularRotation 2s infinite;
}

.progress-bar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 20px;
}

.progress-bar_container .progress-empty {
  width: 80%;
  background: #ffffff;
  height: 7px;
  border-radius: 7px;
}

.progress-bar_container .progress-fill {
  background: blue;
  position: absolute;
  height: 7px;
  left: 10%;
  border-radius: 7px;
  -webkit-animation: fill 2s;
          animation: fill 2s;
}

.progress-bar_container .react_fill {
  max-width: 70%;
  width: 70%;
}

.progress-bar_container .node_fill {
  max-width: 65%;
  width: 65%;
}

.progress-bar_container .mongo_fill {
  width: 60%;
  max-width: 60%;
}

.progress-bar_container .redux_fill {
  width: 72%;
  max-width: 72%;
}

.progress-bar_container .socket_fill {
  width: 50%;
  max-width: 50%;
}

.progress-bar_container .java_fill {
  width: 50%;
  max-width: 50%;
}

.progress-bar_container .python_fill {
  width: 40%;
  max-width: 40%;
}

.progress-bar_container .c_fill {
  width: 50%;
  max-width: 50%;
}

.progress-bar_container .html_fill {
  width: 76%;
  max-width: 76%;
}

.progress-bar_container .css_fill {
  width: 76%;
  max-width: 76%;
}

.progress-bar_container .sass_fill {
  width: 50%;
  max-width: 50%;
}

.progress-bar_container .figma_fill {
  width: 70%;
  max-width: 70%;
}

.card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  cursor: pointer;
}

.learn-more {
  border: none;
  outline: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  color: #ffffff;
  -webkit-animation: pulse 1s linear 2500ms;
          animation: pulse 1s linear 2500ms;
  position: relative;
  cursor: pointer;
}

.learn-more::before {
  content: '';
  position: absolute;
  border: none;
  outline: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  color: #ffffff;
  background: inherit;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  width: 60px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.footer {
  height: 100vh;
  min-width: 100%;
  position: relative;
}

.footer .get-in-touch {
  position: relative;
}

.footer .get-in-touch .form-div {
  width: 80%;
  margin: auto;
  background: #012125;
  border: 1px solid #1f1b1b;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 1;
  font-family: Spectral SC;
  border-radius: 2px;
  -webkit-animation: fadeInLeft 2s;
          animation: fadeInLeft 2s;
  color: #ffffff;
}

.footer .get-in-touch .form-div h2 {
  font-family: Spectral SC;
  text-align: center;
  padding: 10px;
}

.footer .get-in-touch .form-div form {
  width: 80%;
  margin: auto;
}

.footer .get-in-touch .form-div form input, .footer .get-in-touch .form-div form textarea {
  padding: 12px 20px;
  width: 100%;
  outline: none;
  border: none;
  margin: 7px 0px;
  border-radius: 2px;
  border: 1px solid #616161;
  resize: none;
  background: #012125;
  color: inherit;
}

.footer .get-in-touch .form-div form button {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-family: Spectral SC;
  background: transparent;
  outline: none;
  border-radius: 2px;
  color: inherit;
  border: 1px solid #a0a0a0;
  background-color: #012125;
}

.socila-media_container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: #0f333a;
  height: 60vh;
  color: #ffffff;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.contacts {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: fadeInUpBig 2s both;
          animation: fadeInUpBig 2s both;
  width: 100%;
}

.contacts p {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
}

.project_page {
  width: 100%;
  min-height: 100vh;
}

.skill_page {
  min-height: 100vh;
  width: 100%;
  -webkit-animation: slideInUp 500ms;
          animation: slideInUp 500ms;
}

.skill-header {
  width: 100%;
  padding: 10px 20px;
  font-family: 'Spectral SC';
  text-align: center;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
}

.react img {
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.java {
  position: relative;
}

.java .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.java .bar {
  -webkit-animation: goUpJava 2s;
          animation: goUpJava 2s;
  height: 20vh;
}

.java img {
  bottom: 0px;
}

.python .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.python .bar {
  margin-top: 0px;
  -webkit-animation: pytonUp 2s;
          animation: pytonUp 2s;
  height: 15vh;
}

.python img {
  bottom: 0px;
}

.mongodb .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.mongodb .bar {
  margin-top: 0px;
  -webkit-animation: mongodbUp 2s;
          animation: mongodbUp 2s;
  height: 10vh;
}

.mongodb img {
  bottom: 0px;
}

.html .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.html .bar {
  margin-top: 0px;
  -webkit-animation: htmlUp 2s;
          animation: htmlUp 2s;
  height: 25vh;
}

.html img {
  bottom: 0px;
}

.c .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.c .bar {
  margin-top: 0px;
  -webkit-animation: cUp 2s;
          animation: cUp 2s;
  height: 12vh;
}

.c img {
  bottom: 0px;
}

.redux .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.redux .bar {
  margin-top: 0px;
  -webkit-animation: reduxUp 2s;
          animation: reduxUp 2s;
  height: 18vh;
}

.redux img {
  bottom: 0px;
}

.socket .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.socket .bar {
  margin-top: 0px;
  -webkit-animation: socketUp 2s;
          animation: socketUp 2s;
  height: 13vh;
}

.socket img {
  bottom: 0px;
}

.react .ss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
}

.react .bar {
  margin-top: 0px;
  -webkit-animation: reactUp 2s;
          animation: reactUp 2s;
  height: 27vh;
}

.react img {
  bottom: 0px;
}

@-webkit-keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes circularRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circularRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes goUpJava {
  from {
    height: 0px;
  }
  to {
    height: 20vh;
  }
}

@keyframes goUpJava {
  from {
    height: 0px;
  }
  to {
    height: 20vh;
  }
}

@-webkit-keyframes pytonUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 15vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes pytonUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 15vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes mongodbUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 10vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes mongodbUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 10vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes htmlUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 25vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes htmlUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 25vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes cUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 12vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes cUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 12vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes reduxUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 18vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes reduxUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 18vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes socketUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 13vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes socketUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 13vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes reactUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 27vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes reactUp {
  0% {
    opacity: 0.7;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 27vh;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #363636;
  }
  100% {
    border: none;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #363636;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(720deg);
            transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(720deg);
            transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.abs-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.abs-buttons {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.abs-buttons button {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 1px 1px 5px #949494;
          box-shadow: 1px 1px 5px #949494;
  font-family: 'Work Sans', cursive;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.abs-buttons button svg, .abs-buttons button img {
  width: 100%;
  height: 100%;
}

.abs-buttons button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bubble-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  cursor: pointer;
}

.bubble-icon {
  font-size: 50px;
  color: #fdfdfd;
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.bubble {
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble-img {
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0px 10px 30px 5px white;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0px 10px 30px 5px white;
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

@-webkit-keyframes animateBubble {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

.x1 {
  -webkit-animation: animateBubble 10s linear infinite alternate;
          animation: animateBubble 10s linear infinite alternate;
  top: 5%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 7s linear infinite alternate;
          animation: animateBubble 7s linear infinite alternate;
  top: 80%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 12s linear infinite alternate;
          animation: animateBubble 12s linear infinite alternate;
  top: 40%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 5s linear infinite alternate;
          animation: animateBubble 5s linear infinite alternate;
  top: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 11s linear infinite alternate;
          animation: animateBubble 11s linear infinite alternate;
  top: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  top: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
          animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

h2 {
  color: #ffffff;
}

.markup_container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  color: #fff;
}

.markup_container .markup-div {
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  width: calc(33% - 20px);
  position: relative;
  padding: 5px;
  padding-bottom: 30px;
  background: rgba(33, 98, 175, 0.26);
}

.markup_container .markup-div ul, .markup_container .markup-div li {
  margin-left: 15px;
}

.markup_container .markup-div h2 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #00ccff;
}

.markup_container .markup-div h4 {
  margin: 5px;
}

.markup_container .markup-div .small-line {
  border-bottom: 5px solid #0bbaff;
  width: 100px;
  margin: auto;
  margin-bottom: 15px;
}

.markup_container .markup-div button {
  padding: 5px 20px;
  outline: none;
  margin: 10px;
  background: transparent;
  border: 1px solid #c4c4c4;
}

.markup_container .markup-div p {
  margin: 5px;
  font-weight: 600;
  text-align: justify;
}

.markup_container .fl {
  -webkit-animation: fadeInLeft 2s;
          animation: fadeInLeft 2s;
}

.markup_container .fr {
  -webkit-animation: fadeInRight 2s;
          animation: fadeInRight 2s;
}

.markup_container .fu {
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.markup_container .image-container {
  overflow: hidden;
  position: relative;
  aspect-ratio: 14 / 9;
}

.markup_container .image-container .abs-title {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #034a57b4;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.markup_container .image-container .abs-title h2 {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.markup_container .image-container img {
  border: 1px solid green;
  margin: auto;
  width: 100%;
  -webkit-animation: fadeInDown 10s infinite alternate;
          animation: fadeInDown 10s infinite alternate;
}

.btm-btn {
  position: absolute;
  bottom: 10px;
}

@-webkit-keyframes imganimation {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes imganimation {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.about_page {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #161616;
}

.about_page h1 {
  text-align: center;
  margin: 5px;
  color: #fff;
}

.about_page h2 {
  margin-top: 5px;
  letter-spacing: 1px;
}

.about_page .about_upper {
  padding: 10px;
  margin: auto;
  max-width: 1600px;
  margin-top: 20px;
  place-items: center;
  color: #c7c7c7;
  border-radius: 7px;
  margin-bottom: 20px;
}

.about_page .about_upper .it-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px 0px;
  color: #c7c7c7;
}

.about_page .about_upper .it-flex p {
  margin-left: 5px;
}

.about_page .about_upper img {
  width: 200px;
  border-radius: 50%;
}

.about_page .about-edu {
  padding: 10px;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
  margin: auto;
  max-width: 1600px;
  width: 95%;
  color: #c7c7c7;
  -webkit-box-shadow: 0px 0px 1px .5px #021f49, 0px 0px 2px 2px #041a3b;
          box-shadow: 0px 0px 1px .5px #021f49, 0px 0px 2px 2px #041a3b;
  margin-top: 10px;
  background: rgba(33, 98, 175, 0.26);
  background: rgba(95, 58, 51, 0.23);
}

.about_page .about-edu h4 {
  margin-left: 5px;
}

.about_page .about-edu p {
  margin: 2px 10px;
}

.about_page .cake {
  position: absolute;
  bottom: 10px;
  margin: auto;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_page .cake div {
  -webkit-animation: zoomIn 2s;
          animation: zoomIn 2s;
}

.about_page .cake p {
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
}

.about_page .cake img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #fc7507;
  -webkit-animation: filter-animation 5s infinite;
          animation: filter-animation 5s infinite;
}

.about_page .quote {
  margin: auto;
  max-width: 1600px;
  text-align: center;
  margin-top: 50px;
  -webkit-animation: zoomIn 2s;
          animation: zoomIn 2s;
  color: #e4e4e4;
}

.about_page .quote span {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #949494;
}
/*# sourceMappingURL=main.css.map */